.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    background: linear-gradient(
    to bottom,
    rgba(15, 21, 33, 255) 0%,
    rgba(10, 20, 117, 255) 100%
  );
    font-size: 3rem;
    gap: 2rem;
    padding: 3rem;
    color: rgb(26, 91, 233);
}

.button {
    background-color: rgba(15, 21, 33, 255);
    padding: 1rem 2rem;
    color: rgb(26, 91, 233);
    border-color: rgb(26, 91, 233);
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}

.button:hover {
    background-color: rgba(35, 41, 53, 255);
    transform: scale(1.05); 
}
