.main {
    grid-area: main;
    background-color: var(--primary-light)
}
.grid {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    padding: 3rem;
    gap: 3rem;
}
.card {
    background-color: var(--primary-muted);
    border-radius: 1rem;
    color: var(--primary-light);
    box-shadow: 0.5rem 0.5rem 1rem var(--primary-light);
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    height: 20rem;
}
.container {
    display: grid;
    grid-template-areas:
        "header1 header1 header1"
        "aside header2 aside2"
        "aside main aside2"
        "aside footer aside2"
        "footer2 footer2 aside2";
    grid-template-columns: 20rem 1fr 20rem;
    grid-template-rows: 10rem 5rem auto 10rem calc(100vh - 80rem);
    @media (max-width: 1200px) {
        grid-template-areas:
        "header1 header1"
        "aside header2"
        "aside main"
        "aside footer"
        "footer2";
        grid-template-columns: 20rem 1fr;
        grid-template-rows: 10rem 5rem auto 10rem calc(100vh - 80rem);
        @media (max-width: 768px) {
            grid-template-areas:
            "header1"
            "main"
            "footer2";
            grid-template-columns: 1fr;
            grid-template-rows: 10rem auto calc(100vh - 80rem);
        }
    }
}

.header1 {
    grid-area: header1;
    background-color:rgb(201, 55, 55);

}

.header2 {
    grid-area: header2;
        background-color:rgb(64, 142, 206);

}

.footer {
    grid-area: footer;
    background-color:rgb(125, 197, 111)
}
.footer2 {
    grid-area: footer2;
    background-color:rgb(189, 128, 186);
}

.aside {
    grid-area: aside;
    background-color:rgb(194, 182, 20);
    @media (min-width: 768px) {
        display: none;
    }
}
.aside2 {
    grid-area: aside2;
    background-color:rgb(161, 151, 8);
    @media (max-width: 1200px) {
        display: none;
    }
}