.container {
  /*margin: 0 auto; */
  max-width: 50rem;
  @media (max-width: 700px) {
    width: 80vw;
  }
}

.text {
  font-size: 2rem;
}

.div {
  background-color: var(--primary-muted);
  color: var(--primary-light);
  box-shadow: 0 0 1rem var(--primary-light);
  padding: 3rem;
  /*margin: 3rem 5rem;*/
  border-radius: 2rem;
}

.title {
  font-weight: bolder;
  font: 4rem;
  color: var(--primary-contrast);
  text-align: center;
  margin-bottom: 2rem;
}
