.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: start;
  gap: 1rem;
  @media (max-width: 600px) {
    flex-direction: column nowrap;
    height: auto;
  }
}
.title {
  margin-top: 3rem;
  font-size: 10rem;
  font-weight: bolder;
  text-align: center;
  @media (max-width: 1200px) {
    font-size: 4rem;
    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }
}
